# Ignore Visual Studio temporary files, build results, and user-specific files


# User-specific files
.vs/

# Build results
obj/
bin/

#NuGet Packages
packages/

#Configuration File
appsettings.json

#Image Files
wwwroot/profile-pictures/

#Posts Images
wwwroot/posts-images/